/* ==========================================================================
   Flapjack Front End
   Basic Typography
   ========================================================================== */

@import (less) "fonts.css";


/* Base Variables
   ========================================================================== */

@base-font-size-px: 16px;
@base-line-height-px: 22px;
@base-line-height: unit(@base-line-height-px / @base-font-size-px);

.avenir-regular {
    font-family: "Avenir Next", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
}
.avenir-italic {
    font-family: "Avenir Next Italic", Arial, sans-serif;
    font-style: italic;
    font-weight: normal;
}
.avenir-medium {
    font-family: "Avenir Next Medium", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
}
.avenir-demi {
    font-family: "Avenir Next Demi", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
}


body {
    color: @black;
    font-family: Georgia, "Times New Roman", serif;
    line-height: @base-line-height;
}


/* Headings
   ========================================================================== */

h1,
h2,
h3 {
    .avenir-regular;
}

h1 {
    @h1-size: 34px;

    margin-bottom: unit( @base-line-height-px / @h1-size, em );
    font-size: unit( @h1-size / @base-font-size-px, em );
    line-height: unit( (@base-line-height-px * 2) / @h1-size );
}
h2 {
    @h2-size: 26px;

    margin-bottom: unit( @base-line-height-px / @h2-size, em );
    font-size: unit( @h2-size / @base-font-size-px, em );
    line-height: unit( (@base-line-height-px * 2) / @h2-size );
}
h3 {
    @h3-size: 22px;

    margin-bottom: unit( @base-line-height-px / @h3-size, em );
    font-size: unit( @h3-size / @base-font-size-px, em );
    line-height: unit( @base-line-height-px / @h3-size );
}

h4 {
    .avenir-medium;
    @h4-size: 18px;

    margin-bottom: unit( @base-line-height-px / @h4-size, em );
    font-size: unit( @h4-size / @base-font-size-px, em );
    line-height: unit( @base-line-height-px / @h4-size );
}

h5,
h6 {
    .avenir-demi;

    letter-spacing: 1px;
    text-transform: uppercase;
}
h5 {
    @h5-size: 14px;

    margin-bottom: unit( @base-line-height-px / @h5-size, em );
    font-size: unit( @h5-size / @base-font-size-px, em );
    line-height: unit( @base-line-height-px / @h5-size );
}
h6 {
    @h6-size: 12px;

    margin-bottom: unit( @base-line-height-px / @h6-size, em );
    font-size: unit( @h6-size / @base-font-size-px, em );
    line-height: unit( @base-line-height-px / @h6-size );
}

.display {
    // a.k.a. "superheader"
    // For when you want a heading that's bigger than a normal H1

    .avenir-demi;

    @display-size: 12px;

    margin-bottom: unit( @base-line-height-px / @display-size, em );
    font-size: unit( @display-size / @base-font-size-px, em );
    line-height: unit( @base-line-height-px / @display-size );
}


/* Margins
   ========================================================================== */

p,
ul,
ol,
dl,
table,
blockquote,
figure {
    // Assumes that the font size of each of these items remains the default.
    margin-top: 0;
    margin-bottom: unit(@base-line-height, em);
}


/* Link Styling
   ========================================================================== */

a {
    border-bottom-width: 0;
    border-bottom-style: dotted;
    border-bottom-color: @pacific;
    color: @pacific;
    text-decoration: none;
}
a:visited {
    border-bottom-color: @teal;
    color: @teal;
}
a:hover {
    border-bottom-style: solid;
    border-bottom-color: @pacific-50;
    color: @pacific-50;
}
a:focus {
    border-bottom-style: solid;
}
a:active {
    border-bottom-style: solid;
    border-bottom-color: @navy;
    color: @navy;
}
p > a,
li > a,
dd > a {
    // Restrict bottom borders to inline text links ...
    border-bottom-width: 1px;
}
nav a {
    // ... unless they're part of a nav list
    border-bottom-width: 0;
}


/*
 * Miscellaneous
 *
 * - Any instances of Avenir Next getting italicized or bolded must be declared
 *   explicitly so that it uses the correct webfont and does not fake the style
 *   on normal Avenir Next. See blockquote example below.
 */

blockquote {
    padding: 0.5em 0.75em;
    border-left: 4px solid @green;
    background: @green-midtone;
    
    .avenir-regular;
}
blockquote em,
blockquote i {
    .avenir-italic;
}
blockquote strong,
blockquote b {
    .avenir-demi;
}

ul {
    list-style: square;
}


/*
 * Webfont Overrides for IE 6-8 to prevent faux/double bold and italics
 *   
 * - Any bold or italic Avenir elements added to the base styles MUST BE added
 *   to this section, as well.
 * - Dependent on using H5BP's conditional classes on the <html> element:
 *   https://github.com/h5bp/html5-boilerplate/blob/v4.3.0/doc/html.md
 */

.lt-ie9 {
    h1, h2, h3, h4, h5, h6,
    blockquote strong {
        font-weight: normal !important;
    }
    blockquote em {
        font-style: normal !important;
    }
}
